h1 {
  font-family: 'Arial';
  font-size: 32px;
  font-weight: bold;
}

h1:hover {
  font-size: 40px;
}

ul {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Arial';
  font-size: 16px;
}

li:hover {
  font-size: 24px;
  font-weight: bold;
}
