#divDegree {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bold {
    font-weight: bold;
}

.imageDegree {
    width: 40%;
    border: 5px solid black;
    padding: 10px;
}

.container div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}