#alignImages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #335C67;
    margin: 100 auto;
}
.cap {
    color:white; 
    text-align: center; 
    width:100%;
}

.imagePadding {
    padding: 5% 5% 10px 10px;
}

.styleImage {
    border-radius: 65px; 
    height: 300px;
}

.centerText {
    text-align: center;
}

.centerFooter {
    text-align: center;
}

.footerColor {
    color: gray;
}

h1 {
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: white;
}

/* Page Colors */
body {
    background-color: #1D1E18;
}

nav {
    background-color: #ffe57c;
    font-weight: bold;
    padding: 5px;
}

.navLink {
    background-color: #242424;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 15px;
    font-size: 20px; 
}

.row {
    display: flex;
    justify-content: center;
    margin: auto; 
}

.navLink:hover {
    border: 2px solid white;
}

/* centers contact text */
#contact_t{
    text-align:center;
    color: white;
}

#horizontalStyle {
    color: white;
}