:root {
    /* Variable Sizes */
    --default-margin: 10px;
    --default-padding: 0;
    --card-size: 25%;
    --image-size: 100%;
    
    /* Color Palette */
}

body {
    margin: var(--default-margin);
    padding: var(--default-padding);
}

.card {
    border: 2px solid black;
    border-radius: 1rem; 
    box-shadow: 0 4px 8px 1px rgba(0,0,0,0.5);
    width: var(--card-size);

    transition: 0.3s;
    margin: 2vw;
    padding: 2vw;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    scale: 101%;
    transition: all 0.5s;
}

.card img {
    width: var(--image-size);
    height: auto;
    border-radius: 5px;
}

/* Ids */
#create-card {
    width: fit-content;
}

#card-display {
    display: grid;
    justify-content: space-between;
}