/* Color Palette */
:root {
    --navBar: #4C212A;
    --buttonBackground: #01172F;
    --textColor: #F8F4E3;
    --textShadow: #00635D;
    --titleColor: #00635D;
    --backgroundColor: #F8F4E3;
    --funNewColor: #0FA3B1;
}


/* Default Containers */
body {
    background-color: var(--backgroundColor);
    margin: 0;
    padding: 0;
}

img {
    width: 50%;
    height: auto;
    border: 2px solid var(--titleColor);
    border-radius: 3px;
}

/* Classes */
.center {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 5%;
}

.item {
    order: 2;    
    flex: 0 1 auto;
}

/* Buttons Linking to Info at the Bottom of Pages */
.infoLink {
    color: var(--textColor);
    padding: 5px;
    background-color: var(--buttonBackground);
    text-decoration: none;
    border-radius: 2px;
}

.infoLink:hover {
    background-color: var(--backgroundColor);
    color: black;
    filter: drop-shadow(3px 3px 3px #01172F);
}

.imageLink {
    color: var(--textColor);
    padding: 5px;
    background-color: var(--funNewColor);
    text-decoration: none;
    border-radius: 2px;
}

.imageLink:hover {
    background-color: var(--backgroundColor);
    color: black;
    filter: drop-shadow(3px 3px 3px #01172F);
}

/* Body Paragraphs */
.articleTitle{
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0.5px 0.5px 1px var(--textShadow);
}

.container p {
    margin-left: 15%;
    margin-right: 15%;
}

/* Nav */
.nav_container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: var(--navBar);
    width: 100%;
    padding: 5px;
}

.nav_container ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

/* Nav Item */
.nav_container ul li a {
    display: block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: var(--textColor);
    background-color: var(--buttonBackground);
    text-decoration: none;
    border: 2px solid var(--backgroundColor);
    border-radius: 2px;
}

.nav_container ul li a:hover {
    background-color: var(--titleColor); 
    border: 2px solid var(--backgroundColor);
    transform: scale(1.1);
    filter: drop-shadow(3px 3px 3px #01172F);
}

.nav_container ul li a:active {
    scale: 1.1;
    background-color: #446DF6;
}

/* Ids */
#title {
    margin: 10px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #00635D;
}

#linear_regression_img {
    width: 35%;
}